---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu|Droid+Serif:700italic);


$black: #333;
$gray: #999;
$light-gray: #E6E6E6;
$white: #fff;


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

hr {
    border: 0;
    border-bottom: 1px dashed #fff;
    background: transparent;
}

h1, h2, h3, h4, h5 {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

header {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;

    ul {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        list-style: none;
        display: table;

        > li {
            display: table-cell;
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            width: 20%;

            a {
                color: white;

                &:hover {
                    color: white;
                    text-decoration: none;
                    opacity: 0.7;
                }

                &:active, &:visited, &:focus {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.link {
    &--store {
        text-decoration: none;
        font-family: 'Droid Serif', serif;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        color: $white;

        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
}

#map {
    padding-top: 45px;

    .map--scrolloff {
        pointer-events: none;
    }
}

.section {
    padding: 60px 0;
    position: relative;
    display: table;
    height: 100%;
    width: 100%;

    .container {
        display: table-cell;
        vertical-align: middle;
    }

    &--no-padding {
        padding: 0;
    }

    &-bg {
    	&--black {
    		background-color: $black;
    		color: $white;
    	}

        &--light-gray {
            background-color: $light-gray;
        }

    	&--gray {
    		background-color: $gray;
    	}
    }
}


.text {
	&--center {
		text-align: center;
	}

    &--large {
        font-size: 18px;
        line-height: 30px;
    }
}
