---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu|Droid+Serif:700italic);


$black: #333;
$gray: #999;
$white: #fff;

html, body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.link {
    &--store {
        text-decoration: none;
        font-family: 'Droid Serif', serif;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        color: $white;

        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
}

#map {
    .map--scrolloff {
        pointer-events: none;
    }
}

.section {
    padding: 60px 0;
    position: relative;

    &__title {
        position: absolute;
        top: 20px;
        right: 0;
        left: 0;
        margin: auto;
    }

    &--no-padding {
        padding: 0;
    }

    &-bg {
    	&--black {
    		background-color: $black;
    		color: $white;
    	}

    	&--gray {
    		background-color: $gray;
    	}
    }
}


.text {
	&--center {
		text-align: center;
	}

    &--large {
        font-size: 18px;
        line-height: 30px;
    }
}
