<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <section class="section section-bg--black">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text--center">
                        {% include logo.html %}
                    </h1>
                    <h3 class="text--center">13 de junho de 2015</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    
                </div>
                <div class="col-xs-7">
                    <h2>Nossa história</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <p>Brincadeira... Tudo começou com uma grande amizade... Como qualquer história de amor, um início turbulento, muitas dúvidas e problemas... E quem diria, deu certo! Muita coisa aconteceu, um fim de faculdade de publicidade, o início de uma engenharia, mais uma faculdade e ainda um intercâmbio. O pedido de noivado na Alemanha e uma espera longa até esse dia que se aproxima: 13/06/2015!</p>
 
                    <p>E então, 6 anos se passaram e agora vamos enfim nos casar...</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-bg--black">
        <div class="container">
            <div class="row text--center">
                <div class="col-xs-4">
                    <h3>Onde?</h3>
                    <p class="text--large">Oitava Igreja Presbiteriana de Belo Horizonte</p>
                    <p class="text--large">Rua Nestor Soares de Melo, 15, <br>
                    Palmares, Belo Horizonte, MG, Brasil</p>
                </div>
                <div class="col-xs-4">
                    <h3>Quando?</h3>
                    <p class="text--large">Sábado,<br>
                    13 de junho de 2015,<br>
                    às 20h00</p>
                </div>
                <div class="col-xs-4">
                    <h3>RSVP</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--no-padding">
        <div class="container">
            <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Oitava%20Igreja%20Presbiteriana%20de%20Belo%20Horizonte%20-%20Rua%20Nestor%20Soares%20de%20Melo%2C%20Palmares%2C%20Belo%20Horizonte%20-%20State%20of%20Minas%20Gerais%2C%20Brazil&key=AIzaSyCi21HehWT8SewsuY2PMV3POJCUWtgPra4"></iframe>
        </div>
    </section>

    <section class="section section-bg--black">
        <div class="container text--center">
            <p>Aqui você ecnontra os links para nossas listas de presentes, fique à vontade!</p>
            <div class="row">
                <div class="col-xs-4">
                    <h2>TOK&STOK</h2>
                    <a class="link--store" target="_blank" href="https://www.tokstok.com.br/lic/convidados/default.jsf?idLista=230601">&gt;&gt;</a>
                </div>
                <div class="col-xs-4">
                    <h2>Ricardo Eletro</h2>
                    <a class="link--store" target="_blank" href="http://www.ricardoeletro.com.br/ListaCasamento/ListaPresentes/65777/Raphael-e-Marcela">&gt;&gt;</a>
                </div>
                <div class="col-xs-4">
                    <h2>FastShop</h2>
                    <a class="link--store" target="_blank" href="http://listadecasamento.fastshop.com.br/ListaCasamento/ListaCasamentoProdutos.aspx?ID=177938">&gt;&gt;</a>
                </div>
            </div>
            <hr>
            <p>Se preferir nos presentear com valores, pode fazer pelo PayPal:</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WWDYXVA6UJ59Q">
                <input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </section>
  </body>
</html>
